<search></search>
<div style="padding-left: 40px; padding-top: 20px;">
  <h3>Проектът е изработен от:</h3>
</div>
<div style="padding: 20px; display: flex; flex-direction: row; flex-wrap: wrap;">
<div class="card" style="width: 350px; margin: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Александър Димитров</p>
        <p class="subtitle is-6">alxanderdimitrov333@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 350px; margin: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Диана Бинева</p>
        <p class="subtitle is-6">dianabinevabineva@gmail.com</p>
      </div>
    </div>
  </div>
</div>


<div class="card" style="width: 350px; margin: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Владимир Николов</p>
        <p class="subtitle is-6">vladimir.nikolov032@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</div>

