<search [destinations]="destinations"
        (filter)="handleFilteredDestinations($event)"></search>

<div *ngIf="isLoading">
  <h3>зарежда...</h3>
</div>

<div *ngIf="filteredDestinations.length == 0 && !isLoading && searchTerm" class="destinations-wrap">
  <h3>няма намерени резултати за "{{ searchTerm }}"</h3>
</div>

<div *ngIf="isFavouritesEmpty && !searchTerm" class="destinations-wrap">
  <h3>няма добавени дестинации</h3>
</div>

<div *ngIf="!isFavouritesEmpty" class="destinations-wrap">
  <div *ngFor="let destination of filteredDestinations" class="destinations">
    <destination-card [destination]="destination"></destination-card>
  </div>
</div>
